CompileFlags:
  Add: 
    - -std=gnu17
    - -DESP32C3
    - -DCONFIG_IDF_TARGET_ESP32C3
    - -DCONFIG_IDF_TARGET=esp32c3
  Remove:
    - -m*
    - -f*
    
InlayHints:
  Enabled: true
  ParameterHints: true
  TypeHints: true
  DeducedTypes: true

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add:
      - performance-*
      - readability-*
    Remove:
      - google-*
